.hidden {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  color: #222;
}

#wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.sec_1 {
  position: relative;
  width: 100%;
}
.sec_2 {
  background-color: rgb(246, 246, 246);
}
.sec_5 {
  background-color: rgb(255, 246, 235);
}

.sec_2,
.sec_3,
.sec_4,
.sec_5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.sec__line {
  background-color: var(--red);
}

.sec_3__container,
.sec_4__container,
.sec_5__container {
  display: flex;
  justify-content: space-between;
}

.sec__btn {
  color: white;
  background-color: var(--red);
  display: block;
}

/*header*/

header {
  width: 100%;
  position: relative;
  z-index: 98;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition-duration: 0.3s;
}

#inHeader {
  width: 100%;
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo > a > img,
.subLogo > a > img {
  width: 100%;
}

/*subGnb*/
.subGnb {
  width: 100%;
  background-color: #fff;
  z-index: 100;
  box-sizing: border-box;
}

.subGnb-header {
  width: 100%;
  display: flex;
  height: 60px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.subGnb a {
  color: #222;
  display: block;
}

.subGnb-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.subGnb-nav > a {
  width: 100%;
  font-weight: 500;
}
.subGnb-nav > button {
  color: var(--red);
}
.subList {
  color: #222;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
}

.subList-subUl a {
  color: #888;
}

.subList > li {
  display: flex;
  margin-bottom: 15px;
}

#subLang {
  width: 100%;
}

#subLang > a {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: var(--red);
  align-items: center;
}

/*sec_1*/
.sec_1__txtbox {
  color: white;
  position: absolute;
  text-shadow: 4px 3px 5px #444;
}
.sec_1__txtbox #txt1 {
  animation: txtboxMove1 1s ease-in-out;
  font-weight: 500;
}

.sec_1__txtbox #txt2 {
  animation: txtboxMove2 1s ease-in-out;
  font-weight: 300;
}

@keyframes txtboxMove1 {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes txtboxMove2 {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*sec_2*/
.sec_2__news li {
  display: flex;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
}
.sec_2__news p:hover {
  color: var(--red);
}
.sec_2__news span {
  color: #888;
}

/*sec_3*/
.sec_3__con {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#sec_3__img1,
#sec_3__img2 {
  width: 100%;
}

#sec_3__img1 > img,
#sec_3__img2 > img {
  width: 100%;
}

/*sec_4*/
.sec_4 {
  background-image: url("../img/4.png");
}

.sec_4__con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.sec_5__icon img {
  width: 100%;
}

footer {
  width: 100%;
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__gnb {
  color: white;
  display: flex;
  align-items: center;
}
.footer__gnb a {
  display: block;
}
.blog {
  background-color: var(--red);
}

.footer__address,
.footer__copy {
  color: #999;
  font-size: 13px;
}
