@media all and (max-width: 767px) {
  /* 공통영역  */

  .sec_2,
  .sec_3,
  .sec_4,
  .sec_5 {
    padding: 35px 20px;
  }

  .sec__title {
    font-size: 28px;
  }

  .sec__line {
    width: 30px;
    height: 4px;
    margin: 10px 0 18px 0;
  }

  .sec_3__container,
  .sec_4__container,
  .sec_5__container {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
  }

  .sec__btn {
    width: 100px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    margin: 25px 0;
    font-size: 14px;
    font-weight: 500;
  }

  .sec__h {
    font-size: 19px;
    font-weight: 600;
    padding: 15px 0 13px 0;
  }

  .sec__p {
    width: 98%;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: -0.5px;
  }

  .sec__txt {
    font-size: 14px;
    font-weight: 500;
  }

  /* 공통영역 END  */

  #inHeader {
    width: 100%;
    padding: 10px 20px 0 20px;
    height: 60px;
  }

  .logo {
    width: 170px;
    height: 32px;
    background: url(../img/1.png) 0 0 no-repeat;
    background-size: 160px;
  }

  #subGnbBtn ~ label {
    width: 27px;
    height: 27px;
    color: white;
    font-size: 25px;
    line-height: 10px;
  }

  .gnb,
  #lang,
  input {
    display: none;
  }

  .subGnb-header {
    height: 60px;
    padding: 0 20px;
  }

  .subLogo {
    width: 170px;
    height: 30px;
    background-color: red;
    background: url(../img/1-1.png) 0 0 no-repeat;
    background-size: 170px;
  }

  .subGnb-Xbtn {
    font-size: 25px;
    line-height: 25px;
  }

  .subGnb-nav {
    padding: 0 20px;
  }

  .subGnb-nav > a {
    height: 56px;
    font-size: 18px;
    box-sizing: border-box;
    line-height: 56px;
  }

  .subList {
    font-size: 15px;
    margin: 0 20px;
  }

  .subList-subUl {
    font-weight: 400;
    font-size: 15px;
  }
  .subList-subUl > li {
    margin-top: 5px;
  }
  .subList > li > a {
    width: 150px;
  }

  #subLang {
    height: 20px;
    margin: 30px 0;
  }

  #subLang > a {
    padding: 20px;
    box-sizing: border-box;
    margin: 0 20px;
    height: 100%;
    font-size: 14px;
    border-radius: 30px;
  }

  .showListBtn i {
    font-size: 20px;
  }

  .subGnb {
    padding-bottom: 300px;
  }

  /* header end  */

  .sec_1 {
    top: 0;
    left: 0;
  }

  .sec_1__tabletImg {
    width: 100%;
  }

  .sec_1__tabletImg > img {
    width: 100%;
  }

  .sec_1__vd {
    display: none;
  }

  .sec_1__txtbox {
    width: 80%;
    top: 40%;
    left: 20px;
    right: 20px;
    box-sizing: border-box;
  }

  .sec_1__txtbox #txt1 {
    font-size: 24px;
    letter-spacing: -1px;
  }

  .sec_1__txtbox #txt2 {
    font-size: 16px;
    margin-top: 10px;
    letter-spacing: -0.5px;
  }

  /* sec_1 end  */

  .sec_2__news {
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid var(--red);
  }
  .sec_2__news li {
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
    text-align: start;
  }

  .sec_2__news p {
    font-size: 15px;
  }

  .sec_2__news span {
    font-size: 13px;
    margin-top: 5px;
  }

  /* sec_2 end  */

  .sec_3__con {
    width: 100%;
    box-sizing: border-box;
  }

  .sec_3__con:nth-child(2) {
    display: none;
  }

  /* sec_3 end */

  .sec_4__container {
    width: 100%;
  }

  .sec_4__con {
    width: 50%;
    height: 220px;
  }

  .sec_4__con:nth-child(2) {
    margin-left: 20px;
  }

  /* sec_4 end  */

  .sec_5__container {
    padding-top: 20px;
    width: 280px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
  }

  .sec_5__icon {
    width: 120px;
    height: 120px;
    display: block;
  }

  .sec_5__icon:first-child,
  .sec_5__icon:nth-child(2) {
    margin-bottom: 20px;
  }

  /* sec_5 end */

  /* section end */

  footer {
    box-sizing: border-box;
    padding: 35px 20px;
  }

  .footer__container {
    width: 100%;
  }

  .footer__gnb {
    font-size: 13px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .footer__gnb li {
    border-right: 1px solid white;
    height: 13px;
    box-sizing: border-box;
    line-height: 13px;
  }

  #footer__tablet-btn {
    height: 100px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .footer__gnb a {
    padding: 0 10px;
  }

  .footer__gnb > li:nth-child(1) > a {
    padding-left: 0;
  }

  .footer__gnb > li:last-child {
    display: none;
  }
  .footer__gnb > .no-line {
    border: none;
  }
  #footer__tablet-btn a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 600;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .family {
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
  }

  .footer__address,
  .footer__copy {
    font-size: 12px;
  }

  .footer__copy {
    margin-top: 10px;
  }
} /* mobile end */
